body {
  margin: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body, html {
  height: 100%;
}
body > svg text.name {
  alignment-baseline: middle;
}
body > svg text.time {
  alignment-baseline: middle;
}
body > svg text.time.end {
  text-anchor: end;
}
body > svg g.shift {
  cursor: pointer;
}
body > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
body > svg rect {
  /* animation: fadein 0.2s; */
}
body > svg .axis .tick line {
  stroke: lightgrey;
}
