version: '3.7'
services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    image: strangesast/timeclock-vis_nginx
    ports:
      - '80:80'
    depends_on:
      - api
      - ws
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    image: strangesast/timeclock-vis_api
    depends_on:
      - mongo
    environment:
      - env=production
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    volumes:
      - ./config.ini:/app/config.ini
  daemon:
    image: strangesast/timeclock-vis_daemon
    build:
      context: .
      dockerfile: docker/daemon/Dockerfile
    depends_on:
      - mongo
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MYSQL_HOST=host.docker.internal
      - MYSQL_PORT=3306
      - AMG_HOST=host.docker.internal
      - AMG_PORT=3003
      - AMG_USER=admin
    volumes:
      - ./config.ini:/app/config.ini
  ws:
    image: strangesast/timeclock-vis_ws
    build:
      context: .
      dockerfile: docker/ws/Dockerfile
    depends_on:
      - mongo
    environment:
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
    volumes:
      - ./config.ini:/app/config.ini
  mongo:
    image: mongo
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: password
#    volumes:
#      - ./docker/mongo/init.sh:/docker-entrypoint-initdb.d/init.sh
#      - ./data:/data/db

