version: '3.7'
services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    image: strangesast/timeclock-vis_nginx
    ports:
      - '8080:8080'
    deploy:
      mode: global
      restart_policy:
        max_attempts: 10
  server:
    build:
      context: .
      dockerfile: docker/server/Dockerfile
    image: strangesast/timeclock-vis_server
    environment:
      - env=production
      - AMG_HOST=host.docker.internal
      - AMG_PORT=3003
      - AMG_USER=admin
      - SERVER_PORT=8081
    deploy:
      mode: global
      restart_policy:
        max_attempts: 10
