version: '3.7'
services:
  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    image: strangesast/timeclock-vis_nginx
    ports:
      - '8080:8080'
#    depends_on:
#      - server
#  server:
#    build:
#      context: .
#      dockerfile: docker/server/Dockerfile
#    image: strangesast/timeclock-vis_server
#    depends_on:
#      - mongo
#    environment:
#      - env=production
#      - MONGO_HOST=mongo
#      - MONGO_PORT=27017
#      - MYSQL_PORT=3306
#      - MYSQL_HOST=host.docker.internal
#      - AMG_HOST=host.docker.internal
#      - AMG_PORT=3003
#      - AMG_USER=admin
#      - SERVER_BIND_PORT=8081
#    volumes:
#      - ./config.ini:/app/config.ini

  daemon:
    image: strangesast/timeclock-vis_daemon
    build:
      context: .
      dockerfile: docker/daemon/Dockerfile
    depends_on:
      - mongo
    environment:
      - MYSQL_HOST=host.docker.internal
      - AMG_HOST=host.docker.internal
    volumes:
      - ./config.ini:/app/config.ini

  mongo:
    image: mongo
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - ./docker/mongo/init.sh:/docker-entrypoint-initdb.d/init.sh
