aiohttp==3.6.2
aiohttp-xmlrpc==0.8.1
aiojobs==0.2.2
aiomysql==0.0.20
aioxmlrpc==0.5
async-timeout==3.0.1
attrs==19.3.0
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
gunicorn==20.0.4
idna==2.9
lxml==4.5.0
motor==2.1.0
multidict==4.7.5
pycparser==2.20
pymongo==3.10.1
PyMySQL==0.9.2
pytz==2019.3
six==1.14.0
yarl==1.4.2
